<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="adminservice"/>
    <springProperty scope="context" name="LOKI_URL" source="loki.url"               defaultValue="http://localhost:3100"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%cyan(%X{traceId:-})] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                    "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                    "level": "%level",
                    "logger": "%logger{36}",
                    "thread": "%thread",
                    "traceId": "%X{traceId:-none}",
                    "spanId": "%X{spanId:-none}",
                    "message": "%message",
                    "exception": "%ex{short}"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOKI"/>
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOKI"/>
    </root>

    <logger name="com.netflix.eureka"            level="WARN"/>
    <logger name="com.netflix.discovery"         level="WARN"/>
    <logger name="org.springframework.security"  level="WARN"/>
    <logger name="org.springframework.web"       level="WARN"/>
    <logger name="com.smartSure.adminService"    level="INFO"/>

</configuration>
